@model IEnumerable<Category>
<div class="list-group">
	@foreach(var i in Model)
	{
		<a href='#' class="list-group-item list-group-item-action">@i.Name</a>
	}
	</div>




@*<div class="list-group">
	<a href='#' class="list-group-item list-group-item-action active">Link Item 1</a>
	<a href='#' class="list-group-item list-group-item-action action">Link Item 2</a>
	<a href='#' class="list-group-item list-group-item-action action">Link Item 3</a>
	<a href='#' class="list-group-item list-group-item-action action">Link Item 4</a>
	<a href='#' class="list-group-item list-group-item-action action">Link Item 5</a>
</div>*@